[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
.vs/
.vscode/
.idea/
.DS_Store
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.suo
*.sdf
*.cache
*.pdb
*.mdb
*.opendb
*.VC.db
ExportedObj/
.collabignore
.gradle/
UserSettings/

!Assets/
!Packages/
!ProjectSettings/